name: Lag avhengighetsgraf

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        default: 21

jobs:
  dependency-submission:
    name: Lag avhengighetsgraf
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Sjekk ut koden
        uses: actions/checkout@v6

      - name: Sett opp Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}

      - name: Generer og lagre avhengighetsgraf
        uses: gradle/actions/dependency-submission@v4
